.vehicule-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .vehicule-modal h2 {
    margin-bottom: 20px;
    color: #555;
  }
  
  .vehicule-modal input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .vehicule-modal select {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .vehicule-modal button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .vehicule-modal button:hover {
    background-color: #555;
  }
  